############################################################
### Target Vendor/Product
############################################################
CONFIG_VENDOR=NEXX
CONFIG_PRODUCT=MT7620
CONFIG_FIRMWARE_PRODUCT_ID="WT3020H"

############################################################
### Linux kernel configuration
############################################################
CONFIG_FIRMWARE_CPU_SLEEP=y
CONFIG_FIRMWARE_WIFI2_DRIVER=3.0

### Сетевые модули для работы NFQWS (ОБЯЗАТЕЛЬНО)
CONFIG_FIRMWARE_INCLUDE_IPSET=y
CONFIG_FIRMWARE_INCLUDE_SHORTCUT_FE=y
CONFIG_FIRMWARE_INCLUDE_NFQWS=y

### Поддержка USB и Флешек (Для установки nfqws2-keenetic)
CONFIG_FIRMWARE_ENABLE_USB=y
CONFIG_FIRMWARE_ENABLE_EXT4=y
CONFIG_FIRMWARE_ENABLE_FUSE=y
CONFIG_FIRMWARE_ENABLE_SWAP=y
CONFIG_FIRMWARE_INCLUDE_NTFS_3G=y

### Отключаем лишнее для экономии места (Минус 3-4 МБ)
CONFIG_FIRMWARE_ENABLE_IPV6=n
CONFIG_FIRMWARE_INCLUDE_HTTPS=n
CONFIG_FIRMWARE_INCLUDE_OPENVPN=n
CONFIG_FIRMWARE_INCLUDE_OPENSSH=n
CONFIG_FIRMWARE_INCLUDE_DROPBEAR=y
CONFIG_FIRMWARE_INCLUDE_SMBD=n
CONFIG_FIRMWARE_INCLUDE_FTPD=n
CONFIG_FIRMWARE_INCLUDE_CIFS=n
CONFIG_FIRMWARE_INCLUDE_SFTP=n
CONFIG_FIRMWARE_INCLUDE_UVC=n
CONFIG_FIRMWARE_INCLUDE_SERIAL=n
CONFIG_FIRMWARE_INCLUDE_DDNS_SSL=n
CONFIG_FIRMWARE_INCLUDE_EAP_PEAP=n
CONFIG_FIRMWARE_INCLUDE_XUPNPD=n
CONFIG_FIRMWARE_INCLUDE_ZRAM=n

############################################################
### Userspace configuration
############################################################
CONFIG_FIRMWARE_INCLUDE_LANG_RU=y

### Финальное сжатие образа (ВАЖНО для 8МБ ПЗУ)
CONFIG_CC_OPTIMIZE_FOR_SIZE=y
